<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
        <form action="/auth" id="loginForm">
          <input class="btn btn-outline-primary" type="submit" value="Login">
        </form>
    </div>
  </body>
</html>
