<!DOCTYPE html>
<!-- in views/users.ejs -->
<html>
  <head>
    <title>Successful authentication</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <div class="content">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="js/onSuccessRedirect.js"></script>
  </body>
</html>